In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../datasets/3.-Population/2019_ine_nacionalitat_per_sexe.csv')

In [3]:
datacopy = data.copy()

In [4]:
data

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Nacionalitat,Nombre
0,2019,1,Ciutat Vella,1,el Raval,Dona,Espanya,11666
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanya,4214
2,2019,1,Ciutat Vella,3,la Barceloneta,Dona,Espanya,4801
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Espanya,6570
4,2019,2,Eixample,5,el Fort Pienc,Dona,Espanya,13074
...,...,...,...,...,...,...,...,...
26275,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Home,Apàtrides,0
26276,2019,10,Sant Martí,70,el Besòs i el Maresme,Home,Apàtrides,1
26277,2019,10,Sant Martí,71,Provençals del Poblenou,Home,Apàtrides,0
26278,2019,10,Sant Martí,72,Sant Martí de Provençals,Home,Apàtrides,2
26279,2019,10,Sant Martí,73,la Verneda i la Pau,Home,Apàtrides,0

In [5]:
data.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Nacionalitat,Nombre
0,2019,1,Ciutat Vella,1,el Raval,Dona,Espanya,11666
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanya,4214
2,2019,1,Ciutat Vella,3,la Barceloneta,Dona,Espanya,4801
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Espanya,6570
4,2019,2,Eixample,5,el Fort Pienc,Dona,Espanya,13074

In [6]:
sorted_data = data.sort_values(by='Nom_Barri', axis=0, ascending=False)

In [7]:
sorted_data.head(50)

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Nacionalitat,Nombre
21266,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Cuba,5
24843,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Singapur,0
10535,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Israel,8
6374,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Botswana,0
12214,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,"Emirats Àrabs Units, els",0
8564,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Panamà,1
18492,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Somàlia,0
13309,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,França,89
21047,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Mèxic,15
15864,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Bòsnia i Hercegovina,0
9805,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Filipines,32
3162,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,San Marino,0
4768,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Etiòpia,2
899,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Bulgària,7
21120,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Paraguai,6
18419,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Madagascar,0
24770,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Mongòlia,0
12141,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Turkmenistan,0
24916,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Kirguizstan,0
826,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Polònia,10
7907,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Mèxic,18
9586,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Saint Kitts i Nevis,0
20828,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Brasil,13
10462,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Síria,0
25062,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Sri Lanka,0
3308,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,"Marroc, el",7
15718,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Macedònia,0
753,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Països Baixos,12
7177,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Colòmbia,12
20901,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,República Dominicana,1
24989,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Kuwait,4
4695,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Congo,0
18565,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Togo,0
14477,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Hongria,1
3235,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Altres països d'Europa,0
15791,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Islàndia,1
20974,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,"Estats Units, els",53
14404,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Suïssa,11
6301,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,República Centreafricana,0
15937,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Luxemburg,0
1045,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Bèlgica,11
10681,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Kazakhstan,1
7834,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,"Estats Units, els",68
14331,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Irlanda,1
21412,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Uruguai,3
16083,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Montenegro,0
2943,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Montenegro,0
24478,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Afganistan,0
4914,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Dona,Tanzània,2
18200,2019,5,Sarrià-Sant Gervasi,24,les Tres Torres,Home,Moçambic,0

In [8]:
data['Nom_Barri'].value_counts()

la Trinitat Nova                 360
la Vila Olímpica del Poblenou    360
el Raval                         360
Can Baró                         360
Canyelles                        360
                                ...
el Fort Pienc                    360
Torre Baró                       360
Sant Gervasi - Galvany           360
la Barceloneta                   360
el Baix Guinardó                 360
Name: Nom_Barri, Length: 73, dtype: int64

In [9]:
data.corr()

                Any  Codi_Districte  Codi_Barri    Nombre
Any             NaN             NaN         NaN       NaN
Codi_Districte  NaN        1.000000    0.980874 -0.015829
Codi_Barri      NaN        0.980874    1.000000 -0.014510
Nombre          NaN       -0.015829   -0.014510  1.000000

In [10]:
data['Any'].dtype

dtype('int64')

In [11]:
melted = data.melt(id_vars=['Nom_Barri', 'Sexe', 'Nacionalitat'], value_vars=['Nombre'])

In [12]:
melted_sorted = melted.sort_values(by='Nom_Barri', axis=0, ascending=False)

In [13]:
melted_sorted.tail(20)

           Nom_Barri  Sexe                    Nacionalitat variable  value
22176  Baró de Viver  Home                        Barbados   Nombre      0
22030  Baró de Viver  Home               Trinitat i Tobago   Nombre      0
17796  Baró de Viver  Home                          Angola   Nombre      0
13270  Baró de Viver  Home                          Itàlia   Nombre      2
16628  Baró de Viver  Home                         Senegal   Nombre      1
5167   Baró de Viver  Dona                       Sudan, el   Nombre      0
25680  Baró de Viver  Home                         Bahrain   Nombre      0
10569  Baró de Viver  Dona                          Israel   Nombre      0
25972  Baró de Viver  Home            Altres països d'Àsia   Nombre      0
18818  Baró de Viver  Home                           Níger   Nombre      0
9182   Baró de Viver  Dona  Saint Vincent i les Grenadines   Nombre      0
14438  Baró de Viver  Home                          Suïssa   Nombre      0
7211   Baró de Viver  Dona                        Colòmbia   Nombre      3
8817   Baró de Viver  Dona                           Haití   Nombre      0
4291   Baró de Viver  Dona                           Líbia   Nombre      0
23052  Baró de Viver  Home                           Índia   Nombre      2
16701  Baró de Viver  Home                         Nigèria   Nombre      4
22541  Baró de Viver  Home               Antigua i Barbuda   Nombre      0
24147  Baró de Viver  Home                       Indonèsia   Nombre      0
787    Baró de Viver  Dona                   Països Baixos   Nombre      3

In [14]:
data['Nom_Districte'].value_counts()

Nou Barris             4680
Horta-Guinardó         3960
Sant Martí             3600
Sants-Montjuïc         2880
Sant Andreu            2520
Sarrià-Sant Gervasi    2160
Eixample               2160
Gràcia                 1800
Ciutat Vella           1440
Les Corts              1080
Name: Nom_Districte, dtype: int64

In [15]:
data.columns.tolist()

['Any',
 'Codi_Districte',
 'Nom_Districte',
 'Codi_Barri',
 'Nom_Barri',
 'Sexe',
 'Nacionalitat',
 'Nombre']

In [16]:
data.columns = ['Year', 'District_Code', 'District_Name', 'Neighbor_Code', 'Neighbor_Name', 'Gender', 'Nationality', 'Residents_numb']

In [17]:
data.columns.tolist()

['Year',
 'District_Code',
 'District_Name',
 'Neighbor_Code',
 'Neighbor_Name',
 'Gender',
 'Nationality',
 'Residents_numb']

In [18]:
data_columns = data[data.columns]
data_columns

,Year,District_Code,District_Name,Neighbor_Code,Neighbor_Name,Gender,Nationality,Residents_numb
0,2019,1,Ciutat Vella,1,el Raval,Dona,Espanya,11666
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanya,4214
2,2019,1,Ciutat Vella,3,la Barceloneta,Dona,Espanya,4801
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Espanya,6570
4,2019,2,Eixample,5,el Fort Pienc,Dona,Espanya,13074
...,...,...,...,...,...,...,...,...
26275,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Home,Apàtrides,0
26276,2019,10,Sant Martí,70,el Besòs i el Maresme,Home,Apàtrides,1
26277,2019,10,Sant Martí,71,Provençals del Poblenou,Home,Apàtrides,0
26278,2019,10,Sant Martí,72,Sant Martí de Provençals,Home,Apàtrides,2
26279,2019,10,Sant Martí,73,la Verneda i la Pau,Home,Apàtrides,0

In [19]:
data['Gender'] = data['Gender'].str.replace("Dona", "Female")

In [20]:
data['Gender'] = data['Gender'].str.replace("Home", "Male")

In [21]:
data.Nationality.unique()

array(['Espanya', 'Itàlia', 'França', 'Regne Unit', 'Rússia', 'Alemanya',
       'Romania', 'Portugal', 'Ucraïna', 'Geòrgia', 'Països Baixos',
       'Polònia', 'Bulgària', 'Suècia', 'Bèlgica', 'Grècia', 'Irlanda',
       'Suïssa', 'Hongria', 'Àustria', 'Dinamarca', 'Finlàndia',
       'Moldàvia', 'Lituània', 'Belarús', 'Txèquia', 'Sèrbia', 'Albània',
       'Croàcia', 'Noruega', 'Eslovàquia', 'Andorra', 'Letònia',
       'Estònia', 'Eslovènia', 'Macedònia', 'Islàndia',
       'Bòsnia i Hercegovina', 'Luxemburg', 'Malta', 'Montenegro',
       'Liechtenstein', 'Mònaco', 'San Marino', "Altres països d'Europa",
       'Marroc, el', 'Algèria', 'Senegal', 'Nigèria', 'Egipte', 'Ghana',
       'Guinea', 'Guinea Equatorial', 'Tunísia', 'Camerun', 'Gàmbia',
       'Sud-àfrica', 'Mali', 'Líbia', 'Guinea-Bissau', "Costa d'Ivori",
       'Kenya', 'Mauritània', 'Angola', 'Congo', 'Etiòpia',
       'Burkina Faso', 'Tanzània', 'Sierra Leone', 'Moçambic',
       'Sudan, el', 'Benín', 'Madagascar', 'Somàlia', 'Togo', 'Uganda',
       'Cap Verd', 'Níger', 'Maurici', 'Namíbia', 'Zimbàbue', 'Ruanda',
       'Libèria', 'São Tomé i Príncipe', 'Eritrea', 'Malawi',
       'República Centreafricana', 'Botswana', 'Burundi', 'Gabon',
       'Zàmbia', 'Txad', 'Seychelles', 'Comores, les', 'Djibouti',
       'Swaziland', 'República Democràtica del Congo',
       "Altres països d'Àfrica", 'Colòmbia', 'Hondures', 'Perú',
       'Veneçuela', 'Bolívia', 'Equador', 'Argentina', 'Brasil',
       'República Dominicana', 'Estats Units, els', 'Mèxic', 'Paraguai',
       'Xile', 'Cuba', 'El Salvador', 'Uruguai', 'Nicaragua', 'Canadà',
       'Costa Rica', 'Panamà', 'Guatemala', 'Dominica', 'Haití',
       'Trinitat i Tobago', 'Jamaica', 'Barbados', 'Bahames, les',
       'Saint Vincent i les Grenadines', 'Guyana', 'Surinam',
       'Antigua i Barbuda', 'Belize', 'Grenada', 'Saint Kitts i Nevis',
       'Xina', 'Pakistan', 'Filipines', 'Índia', 'Bangladesh', 'Armènia',
       'Japó', 'Nepal', 'Turquia', 'Iran', 'Corea del Sud', 'Síria',
       'Israel', 'Líban', 'Kazakhstan', 'Vietnam', 'Tailàndia',
       'Jordània', 'Indonèsia', 'Azerbaidjan', 'Xipre', "Iraq, l'",
       'Uzbekistan', 'Afganistan', 'Aràbia Saudí', 'Palestina',
       'Malàisia', 'Mongòlia', 'Singapur', 'Kirguizstan', 'Kuwait',
       'Sri Lanka', 'Iemen, el', 'Qatar', 'Turkmenistan',
       'Emirats Àrabs Units, els', 'Myanmar', 'Cambodja', 'Tadjikistan',
       'Bahrain', 'Maldives', 'Lao', 'Oman', "Altres països d'Àsia",
       'Austràlia', 'Nova Zelanda', 'Illes Salomó', 'Apàtrides'],
      dtype=object)

In [22]:
data.Nationality.value_counts()

Equador                     146
Sri Lanka                   146
Israel                      146
Surinam                     146
Bahames, les                146
                           ...
Emirats Àrabs Units, els    146
Hondures                    146
Lituània                    146
Noruega                     146
Marroc, el                  146
Name: Nationality, Length: 180, dtype: int64

In [23]:
data_pd_series = data.groupby('Nationality')['Residents_numb'].sum().nlargest(10)

In [24]:
data_pd_series

Nationality
Espanya       1316380
Itàlia          34287
Xina            21327
Pakistan        20437
França          15757
Marroc, el      14269
Colòmbia        11796
Hondures        11593
Perú            10240
Veneçuela       10012
Name: Residents_numb, dtype: int64

In [25]:
nationalities_lst = ['Espanya', 'Itàlia', 'Xina', 'Pakistan', 'França', 'Marroc, el', 'Colòmbia', 'Hondures', 'Perú', 'Veneçuela']
eng_nationalities_lst = ['Spain', 'Italy', 'China', 'Pakistan', 'France', 'Morocco', 'Colombia', 'Honduras', 'Peru', 'Venezuela']

In [26]:
filtered_data = data[(data['Nationality']=='Espanya') |
                     (data['Nationality']=='Itàlia') |
                     (data['Nationality']=='Xina') |
                     (data['Nationality']=='Pakistan') |
                     (data['Nationality']=='França') |
                     (data['Nationality']=='Marroc, el') |
                     (data['Nationality']=='Colòmbia') |
                     (data['Nationality']=='Hondures') |
                     (data['Nationality']=='Perú') |
                     (data['Nationality']=='Veneçuela')                    
                     ]

filtered_data

,Year,District_Code,District_Name,Neighbor_Code,Neighbor_Name,Gender,Nationality,Residents_numb
0,2019,1,Ciutat Vella,1,el Raval,Female,Espanya,11666
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Female,Espanya,4214
2,2019,1,Ciutat Vella,3,la Barceloneta,Female,Espanya,4801
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Female,Espanya,6570
4,2019,2,Eixample,5,el Fort Pienc,Female,Espanya,13074
...,...,...,...,...,...,...,...,...
22917,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Male,Pakistan,36
22918,2019,10,Sant Martí,70,el Besòs i el Maresme,Male,Pakistan,1667
22919,2019,10,Sant Martí,71,Provençals del Poblenou,Male,Pakistan,115
22920,2019,10,Sant Martí,72,Sant Martí de Provençals,Male,Pakistan,86
22921,2019,10,Sant Martí,73,la Verneda i la Pau,Male,Pakistan,145

In [27]:
filtered_data.Nationality.value_counts()

França        146
Colòmbia      146
Pakistan      146
Perú          146
Itàlia        146
Espanya       146
Hondures      146
Xina          146
Veneçuela     146
Marroc, el    146
Name: Nationality, dtype: int64

In [28]:
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Colòmbia", "Colombia")
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Pakistan", "Pakistan")
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Xina", "China")
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Hondures", "Honduras")
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("França", "France")
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Itàlia", "Italy")
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Veneçuela", "Venezuela")
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Espanya", "Spain")
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Marroc, el", "Morocco")
filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Perú", "Peru")

<ipython-input-28-b4c6e14ca369>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Colòmbia", "Colombia")
<ipython-input-28-b4c6e14ca369>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Pakistan", "Pakistan")
<ipython-input-28-b4c6e14ca369>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Xina", "China")
<ipython-input-28-b4c6e14ca369>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Hondures", "Honduras")
<ipython-input-28-b4c6e14ca369>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("França", "France")
<ipython-input-28-b4c6e14ca369>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Itàlia", "Italy")
<ipython-input-28-b4c6e14ca369>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Veneçuela", "Venezuela")
<ipython-input-28-b4c6e14ca369>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Espanya", "Spain")
<ipython-input-28-b4c6e14ca369>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Marroc, el", "Morocco")
<ipython-input-28-b4c6e14ca369>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Nationality'] = filtered_data['Nationality'].str.replace("Perú", "Peru")

In [29]:
filtered_data.Nationality.value_counts()

Venezuela    146
Peru         146
France       146
Pakistan     146
Spain        146
Honduras     146
Italy        146
China        146
Colombia     146
Morocco      146
Name: Nationality, dtype: int64

In [35]:
filtered_data2 = filtered_data.drop(axis=1, labels=['District_Code', 'Year', 'Neighbor_Code'])

In [36]:
filtered_data2

,District_Name,Neighbor_Name,Gender,Nationality,Residents_numb
0,Ciutat Vella,el Raval,Female,Spain,11666
1,Ciutat Vella,el Barri Gòtic,Female,Spain,4214
2,Ciutat Vella,la Barceloneta,Female,Spain,4801
3,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",Female,Spain,6570
4,Eixample,el Fort Pienc,Female,Spain,13074
...,...,...,...,...,...
22917,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Male,Pakistan,36
22918,Sant Martí,el Besòs i el Maresme,Male,Pakistan,1667
22919,Sant Martí,Provençals del Poblenou,Male,Pakistan,115
22920,Sant Martí,Sant Martí de Provençals,Male,Pakistan,86
22921,Sant Martí,la Verneda i la Pau,Male,Pakistan,145